<div>
<h1>{{message}}</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
  </p>
  </div>