body{
    padding:0;
}
.container{
    margin-top:20px !important;
max-width:80%;
margin:0 auto;
text-align: center;
height:600px;
}
.sidenav{
    float: left;
width:30%;
height: 600px;
background-color: yellow;
}
.content{
    float: left;    
width:70%;
height: 600px;
background-color:antiquewhite;
}
.navig{
    margin-top:60%;
    font-size: 30px;
}
.flowfield{
    margin-top: 23%;
height:600px;

width:100%;
display:block; 
}
.flowfield ul{
text-align: justify;
}
.simplebox{
    margin:0 auto;
    margin-top:20%;
    width:150px;
    height:150px;
    text-align: center;
    border: 1px solid;
}
.cstate{
    background-color: black;
    color: white !important;
}